<!DOCTYPE html>
<html>
<head>
  <title>RedditClone</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% unless current_user.blank? %>
  <h1>
    <%= current_user.username %>
    <%= button_to('Log Out', session_url, method: :delete) %>
  </h1>
<% end %>

<% flash[:notices] ||= [] %>
<% flash[:notices].each do |notice| %>
  <%= notice %>
  <br>
<% end %>

<%= yield %>

</body>
</html>
