<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<table>
		<tr>

			<th> Cat ID </th>
			<th> Name </th>
			<th> Age </th>
			<th> Birth Date </th>
			<th> Color </th>
			<th> Sex </th>

		</tr>

		<% @cats.each do |cat| %>
		<tr>

			<td> <%= cat.id %> </td>
			<td> <%= cat.name %> </td>
			<td> <%= "%.1f" % cat.age %> </td>
			<td> <%= cat.birth_date.strftime('%m-%d-%Y') %> </td>
			<td> <%= cat.color %> </td>
			<td> <%= cat.sex %> </td>

		</tr>
		<% end %>

	</table>
</body>
</html>