<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<table>
		<tr>

			<th>Name</th>
			<th>Age</th>
			<th>Birth Date</th>
			<th>Color</th>
			<th>Sex</th>

		</tr>

		<tr>

			<td> <%= @cat.name %> </td>
			<td> <%= "%.1f" % @cat.age %> </td>
			<td> <%= @cat.birth_date.strftime('%d-%m-%Y') %> </td>
			<td> <%= @cat.color %> </td>
			<td> <%= @cat.sex %> </td>

		</tr>

	</table>

	<br>

	<form action="/cats/<%= @cat.id %>" method="post">

		<label for="cat_destroy"> Delete: Are you sure? </label>
		<input type="submit" value="Destroy cat" >

		<input type="hidden" value="delete" name="_method" id="cat_destroy">
	</form>

</body>
</html>