<!-- Guest has Access -->
<h1> Sub: <%= @sub.name %> </h1>
<% if logged_in? && @sub.mod_id == current_user.id %>
  <%= button_to('Edit', edit_sub_url, method: :get) %>
<% end %>

<% @links.each do |link| %>
  <% if link.body.blank? %>
    <a href='<%= link.url %>'><%= link.title %></a>
  <% else %>
    <a href='<%= link_url(link.id) %>'><%= link.title %></a>
  <% end %>

  <br>
<% end %>
